.site-header {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  margin-bottom: 15px;
  svg {
    float: left;
    image {
      height: 75%;
    }
  }
  ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
    button {
      margin-bottom: 0;
      border: 0;
      box-shadow: none;
    }
  }
  .right-links {
    float: right;
    margin-right: 15px;
    li {
      display: inline-block;
    }
  }
  .drawer {
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    a {
      font-size: 1.2em;
    }
  }
  .database {
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    a {
      display: block;
    }
  }

  .account, .view, .create {
    text-align: right;
    font-size: 1.1em;
    a {
      padding: 15px;
    }
  }
  .view { padding-right: 240px; }
  .create { padding-right: 115px; }
  .account { padding-right: 10px; }

  .search {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    h5 {
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
    }
    .search-drop-results {
      position: relative;
    }
    .close {
      right: 5px;
    }
  }
}
