@error-red: #d80909;
@blue: #2196F3;

body {
  font-family: sans-serif;
  font-weight: 100 !important;
}

h1 { font-size: 2em; margin-bottom: 1em; }
h2 { font-size: 1.8em; margin-bottom: 1em; }
h3 { font-size: 1.6em; margin-bottom: 1em; }
h4 { font-size: 2.4em; margin-bottom: 1em; }
h5 { font-size: 1.2em; margin-bottom: 1em; }
h6 { font-size: 1em; margin-bottom: 1em; }

a {
  color: @blue;
}

input {
  width: 100%;
}

table {
  font-weight: 100;
}

.error {
  color: @error-red;
}

button.button-primary {
  background-color: @blue;
  border-color: @blue;
}

.button, button {
  box-shadow: 2px 2px 2px #eee;
}

.button:hover, button:hover {
  background-color: black;
  color: white;
}

.container {
  max-width: 95%;
}

@media (min-width: 550px) {
  .container {
      width: 95%;
  }
}

.pagination {
  display: block;
  li {
    display: inline-block;
    text-decoration: none;
  }
  a {
    font-size: 1.5em;
    letter-spacing: .5em;
    margin: 0 15px;
  }
  .disabled a {
    color: black;
    text-decoration: none;
    &:hover {
      cursor: default;
    }
  }
}

.text-capitalize {
  text-transform: capitalize;
}

table {
  th {
    font-size: .8em;
  }
  td {
    font-size: .8em;
    color: black;
  }
  tr td:first-child {
    padding-left: 10px;
  }
  tr td:last-child {
    padding-right: 10px;
  }
}

.button-small {
  font-size: 6px;
  padding: 5px 15px 5px 15px;
  line-height: 2;
  height: auto;
  margin: 0;
}
