@error-red: #d80909;
@blue: #2196F3;

body {
  font-family: sans-serif;
  font-weight: 100 !important;
}

h1 { font-size: 2.1em; margin-bottom: 1em; }
h2 { font-size: 2em; margin-bottom: 1em; }
h3 { font-size: 1.8em; margin-bottom: 1em; }
h4 { font-size: 1.6em; margin-bottom: 1em; }
h5 { font-size: 1.5em; margin-bottom: 1em; }
h6 { font-size: 1em; margin-bottom: 1em; }

.active {
  background-color: #eee;
  border-radius: 3px;
  color: black;
}

a {
  color: @blue;
  cursor: pointer;
  padding: 5px;
  &:hover {
    .active;
  }
}

input {
  width: 100%;
}

.error {
  color: @error-red;
}

.button, button {
  color: black;
  box-shadow: 1px 1px 4px rgba(0,0,0,.4);
  &:focus {
    box-shadow: 0 0 0 3px rgba(0,123,255,.5);
  }
}

.button-primary {
  background-color: @blue;
  border-color: @blue;
  font-weight: normal;
  color: white;
}

.button:hover, button:hover, .button-primary:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.disabled, .disabled:hover {
  .button;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
}

.container {
  max-width: 95%;
}

@media (min-width: 550px) {
  .container {
      width: 95%;
  }
}

.pagination {
  li {
    display: inline-block;
    text-decoration: none;
  }
  a {
    font-size: 1.5em;
    margin: 0 15px;
  }
  .disabled-link a {
  color: black;
    text-decoration: none;
    &:hover {
      cursor: default;
    }
  }
}

.text-capitalize {
  text-transform: capitalize;
}

table {
  width: 100%;
  font-weight: 100;
  th {
    font-size: .8em;
  }
  td {
    font-size: .8em;
    color: black;
  }
  th, td {
    padding: 4px 15px;
  }
  tr td:first-child {
    padding-left: 10px;
  }
  tr td:last-child {
    padding-right: 10px;
  }
  tbody tr:hover, tbody tr:hover .info {
    background-color: #eee;
    cursor: pointer;
    color: black;
  }
}

table.no-hover tbody tr:hover {
  background-color: inherit;
  cursor: auto;
}

.button-small {
  font-size: 6px;
  padding: 5px 15px 5px 15px;
  line-height: 2;
  height: auto;
  margin: 0;
}

.pull-right {
  float: right;
}

.info {
  background-color: #eef9ff;
  color: #31708f;
  a {
    cursor: pointer;
  }
}

.filtering-on-batch {
  padding: 15px;
}

.reports-page {
  h5 {
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 35px;
  }
  .links {
    a {
      padding: 15px;
      margin-left: 15px;
    }
  }
  .filters {
    text-align: center;
  }
}

.close {
  border: 0;
  font-size: 2em;
  box-shadow: none;
  position: absolute;
  right: 29px;
  top: 4px;
}

.notification {
  .modal;
  text-align: center;
  padding: 10px;
  width: 80%;
  p {
    margin-bottom: 0px;
    font-size: 1.2em;
  }
}

.delete-modal {
  text-align: center;
  button {
    margin-top: 15px;
  }
}

.center-table {
  th, td {
    text-align: center;
  }
}

.footer-link {
  text-align: center;
  margin-bottom: 55px;
}

.text-right {
  text-align: right;
}

.stockcard-page {
  th, td {
    padding: 4px 0px;
  }
}
