.print-shipment {
  font-size:1.2em;
  margin-top:5px;
}

.photo {
  text-align: center;
  margin-bottom:5px;
}

.page-break {
  display: block;
  page-break-before: always;
}

.issued-by, .received-by {
  float:left;
}
.received-by {
  margin-left:30px;
}
