.search-drop {
  position: absolute;
  margin-top: 45px;
  width: 100%;
  z-index: 100;
  .list-group {
    position: relative;
  }
  .list-group-item {
    padding: 5px;
  }
}

.list-group a:hover {
  .active;
}
