.shipments-page {
  .shipments-header {
    display: inline-block;
    width: 100%;
    h5 {
      float: left;
      margin-bottom: 0;
    }
    div {
      float: right;
      button {
        .button-small;
        margin-right: 45px;
        margin-top: 7px;
      }
      ul, li {
        margin-bottom: 0;
      }
    }
  }
  .pagination {
    float: right;
  }
  .date {
    width: 180px;
  }
  table {
    width: 95%;
    margin: 0 auto;
    tbody tr:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}
